

// Your customize CSS
.navbar {
  background-color: #ff5858;
  color: white;
}
.app {
  display: none;
}

.logged-in {
  display: none;
}

.pre-login {
  margin: 40px;
}
.search {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}

label {
  width: 100%;
  display:block;
  margin-bottom:5px;
  font-size: 25px;
}

.ingredients-field {
  width: 80%;
  padding: 10px;
  border:none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 5px #666 inset;
  -moz-box-shadow:0 0 5px #666 inset;
  box-shadow:0 0 5px #666 inset;
  line-height:25px;
  text-indent:5px;
}

.search .btn-add{
  width: 18%;
}





.added-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.added-container p {
  color: grey;
}
.added {
  display: flex;
  flex-wrap: wrap;
}

.added-ingredient {
  border: solid 1px;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}


.btn-search{
  width: 30%;
  margin-top: 20px;
}

.btn-my-recipes {
  width: 30%;
  margin-top: 20px;
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
}

.card {
  min-width: 200px;
  width: 23%;
  margin: 5px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.card-item {
  height: 90%;
}

.save {
  height: 10%;
  border-radius: 0;
  background: lightblue;
}

.save:hover {
  background-color: grey;
  color: white;
  border-radius: 0;
}

.container-recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.container-recipe img {
  width: 100%;
}

#modal-rating {
  width: 50%;
}

#modal-tags {
  display: flex;
  width: 15%;
  overflow: hidden;
  flex-direction: column;
}

.tags {
  background-color: #ff5858;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  color: white;
}

#modal-ing {
  width: 30%;
}

.output {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.output p {
  width: 50%;
}
.card img:hover {
  opacity: .5;
}

#recipe-modal {
  width: 100%;
}
#modal-img {
  width: 50%;
}
