$color-main: rgb(145, 54, 54);
$color-secondary: rgb(119, 35, 35);

html, body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(238, 237, 237);
}

// Your customize CSS
.navbar {
  background-color: $color-main;
  color: white;
}

.pre-login {
  padding-top: 100px;
}
.pre-login h1 {
  font-family: 'Reenie Beanie', cursive;
  // font-family: 'Rock Salt', cursive;
  font-size: 90px;
  // text-shadow: 3px 3px 4px rgba(150, 150, 150, 1);
  text-shadow: -3px -3px 5px rgba(150, 150, 150, 0.59);
}

.pre-login h3 {
  padding: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  
}

.logged-in {
  display: none;
}

.navbar-brand {
  font-size: 30px;
  font-family: 'Reenie Beanie', cursive;
}

.navbar li {
  font-size: 20px;
}
.pre-login {
  margin: 40px;
}
.search {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}

label {
  width: 100%;
  display:block;
  margin-bottom:5px;
  font-size: 25px;
}

.ingredients-field {
  width: 80%;
  padding: 10px;
  border:none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 5px #666 inset;
  -moz-box-shadow:0 0 5px #666 inset;
  box-shadow:0 0 5px #666 inset;
  line-height:25px;
  text-indent:5px;
}

.search .btn-add{
  width: 18%;
}

.btn {
  cursor: pointer;
}



.added-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.added-container p {
  color: grey;
}
.added {
  display: flex;
  flex-wrap: wrap;
}

.added-ingredient {
  border: solid 1px;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}


.btn-search{
  width: 30%;
  margin-top: 20px;
}

.btn-my-recipes {
  width: 30%;
  margin-top: 20px;
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  min-width: 200px;
  width: 23%;
  margin: 5px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.card-item {
  height: 90%;
}

.save {
  height: 10%;
  border-radius: 0;
  background: $color-main;
}

.save:hover {
  background-color: grey;
  color: white;
  border-radius: 0;
}

.container-recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.container-recipe img {
  width: 100%;
}

#modal-rating {
  width: 50%;
}

#modal-tags {
  display: flex;
  width: 15%;
  overflow: hidden;
  flex-direction: column;
}

.tags {
  background-color: $color-secondary;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  color: white;
}

#modal-ing {
  width: 30%;
}

.output {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.output p {
  width: 50%;
}
.card img:hover {
  opacity: .5;
}

#recipe-modal {
  width: 100%;
}
#modal-img {
  width: 50%;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: $color-secondary;
  color: white;
  width: 100%;
  padding-top: 10px;
}

footer a {
  color: black;
}